.header-5 {
    background-color: #1A3DB9;
    padding: 150px 0px;
    color: white;
}


.header-5 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.header-5 h2 {
    font-size: 40px;
    margin: 0px;
}

.header-5 p {
    max-width: 500px;
    margin: 0;
}

.header-5  .buttons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.header-5 img{
    height: 20px;
}


.header-5 a {
    color: black;
    background-color: white;
    padding: 10px 15px;
    width: fit-content;
    font-weight: 900;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    place-items: center;
    text-decoration: none;
}


.header-5 a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

a.whatsapp {
    animation: changeColor 0.5s ease 5s forwards; /* Delay of 5 seconds */
  }
  

strong{
    font-weight: 700;
}

@media screen and (max-width: 800px) {
    .header-5 {
        flex-direction: column;
        padding: 80px 0px;
    }

}
