.header-5 {
    padding: 60px;
    position: relative;
    justify-content: center;
    background-color: #1A3DB9;
    margin-top: 100px;
    color: white;
    height: 60vh;
    display: flex;
    justify-content: left;
    min-height: 100%;
    padding-left: calc((100% - 1280px) / 2);
    padding-right: calc((100% - 1280px) / 2);
}

.header-5 h2 {
    font-size: 40px;
    margin: 0px;
}

.header-5 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.header-5 p {
    max-width: 500px;
    margin: 0;
}

.header-5  .buttons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.header-5 img{
    height: 20px;
}


.header-5 a {
    color: white;
    border: 1px solid white;
    padding: 15px;
    width: fit-content;
    font-weight: 900;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    place-items: center;
}


a:hover{
    background-color: #F4B400;
    cursor: pointer;
}

a.whatsapp {
    animation: changeColor 0.5s ease 5s forwards; /* Delay of 5 seconds */
  }
  

strong{
    font-weight: 700;
}

@media screen and (max-width: 800px) {
    .header-5 {
        flex-direction: column;
    }

}
