.header{
    padding: 20px;
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.header h1{
    font-size: 40px;
    margin: 0px;
}

.header img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

.header p {
    max-width: 500px;
}