.prices{
    padding-top: 120px;
    padding-bottom: 120px;
}

.prices h2{
    font-size: 40px;
    margin: 0px;
}

.prices .container > p{
    max-width: 400px;
}

.prices .grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    width: max-content;
    max-width: 100%;
  }

  .prices .grid p:nth-child(odd){
    font-weight: bold;
    padding-right: 40px;
  }

  .prices .grid p {
    border-bottom: 2px solid;
    padding: 20px 0px;
    margin: 0px;
  }